<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="60 seconds">
    <!-- 1. 基础配置：日志输出格式、编码 -->
    <springProperty scope="context"
                    name="APP_NAME"
                    source="spring.application.name"
                    defaultValue="unknown-service"/>

    <property name="LOG_PATTERN" value="[${APP_NAME}] %d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{50} - %msg%n"/>
    <property name="LOG_CHARSET" value="UTF-8"/>
    <!-- 2. 微服务日志目录（区分不同服务，如user-service/order-service） -->
    <property name="LOG_DIR" value="server-logs/${APP_NAME}"/>

    <!-- 3. 控制台输出 -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
            <charset>${LOG_CHARSET}</charset>
        </encoder>
    </appender>

    <!-- 4. 文件输出（按天滚动，保留30天） -->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_DIR}/app.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_DIR}/app.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory> <!-- 保留30天日志 -->
        </rollingPolicy>
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
            <charset>${LOG_CHARSET}</charset>
        </encoder>
    </appender>

    <!-- 5. 全局日志级别（可按包名精细化配置） -->
    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE"/>
    </root>
<!--    &lt;!&ndash; 自定义包日志级别（如用户服务DAO层打印DEBUG） &ndash;&gt;-->
<!--    <logger name="com.emily.mall.user.dao" level="DEBUG" additivity="false">-->
<!--        <appender-ref ref="CONSOLE"/>-->
<!--        <appender-ref ref="FILE"/>-->
<!--    </logger>-->
</configuration>
